.root {
    -fx-background-color: #f4f4f4;
    -fx-font-family: "Arial";
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #0056b3;
}
